<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" th:fragment="layout(content)">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="#">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"
			integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" href="" th:href="@{/css/style.css}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
			integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
			crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<title th:text="${title}">User Contact</title>
	</head>
	<body>
		<!--navbar -->
		<nav class="navbar sticky-top navbar-expand-lg bcg-primary" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"><i>Smart Contact</i></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/user/index}" id="userhome" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:text="${user.name}" id="profile" th:href="@{/user/profile}">Profile</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/user/show-contacts/0}" class="nav-link" id="contacts" href="">Contacts</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="chat-box" href="">Chat Box</a>
						</li>
						<li class="nav-item" sec:authorize="isAuthenticated()">
							<a class="nav-link" th:href="@{/logout}">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="sidebar">
			<span onclick="toggleSideBar()" class="closeBtn">&times;</span>
			<a href="#" th:href="@{/user/index}" class="item"><i class="fa-solid fa-house-user fa-sm"></i> Home</a>
			<a href="#" th:href="@{/user/show-contacts/0}" class="item"><i class="fa-regular fa-address-book"></i> View
				Contacts</a>
			<a href="" class="item" th:href="@{/user/add-contact}"><i class="fa-solid fa-user-plus"></i> Add Contacts</a>
			<a href="#" th:href="@{/user/profile}" class="item"><i class="fa-regular fa-user-circle"></i> Your Profile</a>
			<a href="#" class="item"><i class="fa-solid fa-wrench"></i> Settings</a>
			<a th:href="@{/logout}" class="item"><i class="fa-solid fa-sign-out-alt"></i> Logout</a>
	
			<div class="divider"></div>
		</div>
	
		<div class="content">
			<span id="expand"><i onclick="toggleSideBar()" class="fa-solid fa-bars m-3"></i></span>
			<div th:replace="${content}"></div>
		</div>
	
		<script src="" th:src="@{/js/index.js}"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</body>
</html>