<!doctype html>
<html lang="en" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	<section class="banner text-white d-flex justify-content-center align-items-center">
		<div class="container">
			<h1 style="font-weight: bold;">Smart Contact Manager</h1>
			<p>Start collecting your contacts in a smart way.
			We provide very efficient and smart way of handling contacts.</p>
			<button class="btn bcg-primary btn-lg text-white"><a style="text-decoration: none;color: black;" th:href="@{/signup}" >Get Started</a></button>
		</div>
	</section>
	
</body>
</html>